@tailwind base;
@tailwind components;
@tailwind utilities;

/* Força a propriedade de esquema de cores do CSS */
:root {
  color-scheme: light only; /* O 'only' é uma tentativa extra para alguns navegadores */
}

/* Força bruta nas cores do corpo e html */
html, body {
  background-color: #ffffff !important; /* Fundo branco à força */
  color: #111827 !important; /* Texto cinza escuro/quase preto à força */
}

/* Garante que o fundo padrão do Tailwind seja branco */
.bg-gray-50 {
    background-color: #f9fafb !important;
}